body {
    font-family: "Wix Madefor Display", sans-serif;
    color: rgb(228, 223, 223);
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.main {
    background-color: rgb(60, 92, 121);
    display: flex;
    width: 30%;
    margin: 1% auto;
    padding: 1%;
    border-radius: 5%;
    box-shadow: 2px 2px 5px black;
    flex-direction: column;
}

h1 {
    text-shadow: black 1px 1px 1px;
    text-align: center;
}
h2, form, a {
    text-align: center;
}
a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: left;
}
#logCompletionButton {
    margin: 0 30%; 
    width: 40%;
}
ul {
    width: 50%;
    height: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
}
li {
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    margin: 2% 0;
}
span.completed {
    color: green;
    text-decoration: line-through;
}